select {
	width: 150px;
	height: 24px;
	margin: 20px !important;
}

.area {							
	fill: url(#area-gradient);					
	stroke-width: 2px;
	stroke: rgb(251, 80, 80);
	opacity: 0.3;  
}

.tick line {
	stroke: gray;
	opacity: 0.2;
}

.domain {
	stroke: white;
}

.play-icon {
	position: relative;
	top: 210px;
	left: 20px;
	cursor: pointer;
}

.toolTip {
  pointer-events: none;
	position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 10px 14px;
  border-radius: 4px;
  text-align: left;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -12px;
}  
.toolTip span {
	font-weight: 500;
  color: #081F2C;
}

.focusCircle {
	r: 4;
    fill: red;
}
